.custom-card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .custom-card .card-body {
    flex-grow: 1;
  }
  .card-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  